{% load i18n %}

<ul class="list-group">{#عرفنا قائمة#}
    {% for task in project.task_set.all %}{#لدينا حلقة for للمرور على المهام #}{#واحد على جميع هنا العلاقة #}
        <li class="list-group-item d-flex">
            <form method="post" action="{% url 'Task_update' task.id %}"class="my-auto me-2">
                {% csrf_token %} 
                <input
                    class="form-check-input"
                    type="checkbox" 
                    name="is_completed"
                    {% if task.is_completed %} checked {% endif %}
                    onchange="this.form.submit()"

                />    
            </form>
            <p class="my-auto me-auto">
                {{ task.description }}
            </p>
            <form method="post" action="{% url 'Task_delete' task.id %}">
                {% csrf_token %} 
                <button type="submit" class="btn"><i class="bi bi-trash text-danger"></i></button>
            </form>
        </li>
    {% endfor %}

</ul> 

<div class="card my-2">
   {#هنا  نقوم باضفة استمارة انشاء مهمة #}
    <form method="post" action="{% url 'Task_create' %}" class="d-flex">{#action  رابط او عنوان انشاء مهمة #}
        {% csrf_token %} 
        <div class="input-group">
            <input type="hidden"  value="{{ project.id }}" name="project">{#هنا نقوم باحتواء id المشورع#}
            <input type="text"  name="description" class="form-control" placeholder="{% trans 'New Task' %}" required/>{#لكتابة وصف المهمة#}
            <input type="submit" class="btn btn-outline-dark" value="{% trans 'Add' %}" />
        </div>  
    </form>


</div>


